teamengine/teamengine-core/src/test/resources/xsd/details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://example.org/info" elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://example.org/info">

	<xs:element name="ProductInfo" type="tns:ProductInfoType" />
	<xs:complexType name="ProductInfoType">
		<xs:sequence>
			<xs:element name="description" type="xs:string" />
			<xs:element name="madeIn" type="tns:ISO-3166-3" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ISO-3166-3">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAN" />
			<xs:enumeration value="USA" />
			<xs:enumeration value="MEX" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
